---
layout: page
title: Topics
description: Search posts by tags and topics.
---

<div class="post margin-bottom">
  <h1>Topics</h1>

  {% for tag in site.tags reversed %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

  <h2 id="{{ t | downcase }}">{{ t | downcase }}</h2>
  <ul bp-layout="margin-bottom--lg">
  {% for post in posts %}
    {% if post.tags contains t %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endfor %}
</div>