<footer class="site-footer">
    <div class="container">
        <a href="https://twitter.com/splintercode" rel="me" target="_blank" class="contact__link animated">
            Twitter <i class="icon-twitter-squared"></i>
        </a>
        <a href="https://github.com/splintercode" rel="me" target="_blank" class="contact__link animated">
            Github <i class="icon-github-squared"></i>
        </a>
        <a href="http://codepen.io/splintercode/" rel="me" target="_blank" class="contact__link animated">
            Codepen <i class="icon-codepen"></i>
        </a>
        <a href="https://plus.google.com/u/0/102986296317731631979?rel=author" rel="me" target="_blank" class="contact__link animated">
            Google+ <i class="icon-gplus-squared"></i>
        </a>
    </div>
</footer>