<footer class="site-footer">
    <div class="container" itemscope="" itemtype="http://schema.org/Person">
        <div itemprop="name" class="margin-bottom-small">Cory Rylan</div>
        <meta itemprop="image" content="https://coryrylan.com/assets/images/cory-rylan.jpg">
        <meta itemprop="url" href="https://coryrylan.com">
        <a href="http://codepen.io/splintercode/" rel="me" itemprop="sameAs" target="_blank" class="contact__link animated">
            Codepen <i class="icon-codepen"></i>
        </a>
        <a href="https://twitter.com/splintercode" rel="me" itemprop="sameAs" target="_blank" class="contact__link animated">
            Twitter <i class="icon-twitter-squared"></i>
        </a>
        <a href="https://github.com/splintercode" rel="me" itemprop="sameAs" target="_blank" class="contact__link animated">
            Github <i class="icon-github-squared"></i>
        </a>
        <a href="https://plus.google.com/u/0/102986296317731631979?rel=author" rel="me" itemprop="sameAs" target="_blank" class="contact__link animated">
            Google+ <i class="icon-gplus-squared"></i>
        </a>
    </div>
</footer>