<footer class="site-footer">
    <div class="container">
        <a href="https://twitter.com/coryrylan" rel="me" target="_blank" class="contact__link animated">
            Twitter
        </a>
        <a href="https://github.com/splintercode" rel="me" target="_blank" class="contact__link animated">
            Github
        </a>
        <a href="https://codepen.io/coryrylan/" rel="me" target="_blank" class="contact__link animated">
            Codepen
        </a>
        <a href="https://www.youtube.com/channel/UC2psqmFgEHGQ3PnfUf1j8vw" target="_blank" class="contact__link animated">
            YouTube
        </a>
        <a href="https://plus.google.com/u/0/102986296317731631979?rel=author" rel="me" target="_blank" class="contact__link animated">
            Google+
        </a>
    </div>
</footer>