<header class="site-header">
    <nav class="site-nav">
      <div class="ui-tabs">
        <a class="ui-tabs__tab {% if page.tab == 'index' %}ui-tabs__tab--active{% endif %} {% if page.layout == 'post' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/">Cory Rylan</a>
        <a class="ui-tabs__tab {% if page.tab == 'work' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/work">Work</a>
        <a class="ui-tabs__tab {% if page.tab == 'contact' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/contact">Contact</a>
      </div>
    </nav>
</header>
