<header class="site-header">
    <nav class="site-nav">
      <div class="ui-tabs">
        <a class="ui-tabs__tab {% if page.tab == 'index' %}ui-tabs__tab--active{% endif %} {% if page.layout == 'post' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/">Posts</a>
        <a class="ui-tabs__tab {% if page.tab == 'speaking' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/speaking">Speaking</a>
        <a class="ui-tabs__tab {% if page.tab == 'training' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/training">Training</a>
        <a class="ui-tabs__tab {% if page.tab == 'work' %}ui-tabs__tab--active{% endif %}" href="{{site.baseurl}}/work">Work</a>
        <span bp-layout="hide show@md"><a class="ui-tabs__tab" href="https://blueprintcss.io" target="_blank">Blueprint</a></span>
      </div>
    </nav>
</header>
