body {
    background-color: $grey;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-header {
    background-color: $green;
    color: $white;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    
    .ui-tabs__tab {
        width: 25%;
        font-size: 12px;

        @media screen and (min-width: 420px) {
            font-size: 14px;
        }

        @media screen and (min-width: 720px) {
            width: auto;
        }
    }
}

.site-nav {
    text-align: center;
}

.site-container {
    margin-top: 80px;
    padding: 0 10px;
    flex: 1 0 auto;
    
    &::after {
        content: '\00a0';
    }
}

.site-footer {
    background-color: $grey-dark;
    color: $white;
    padding: 20px;
    
    .container {
        padding: 0 8px;
    }
    
    a {
        color: $white;
        padding: 10px;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-profile-img {
    width: 100%;
    max-width: 130px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    
    @media screen and (min-width: 1020px) {
        max-width: 130px;
    }
}

// Cards
.post {
    border-radius: 2px;
    padding: 8px 12px;
    margin: 24px 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: $white;
    
    @media (min-width: 460px) {
        padding: 24px;
    }
    
    @media (min-width: 680px) {
        padding: 35px 56px;
    }
}

.post-list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    .card {
        min-height: 190px;
    }
}

.google-ad {
    max-width: 620px;
    height: 64px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.card {
    border-radius: 2px;
    padding: 12px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: $white;
    display: block;
    width: 100%;
    
    h2 {
        font-size: 1.6em;
    }
}

.card-btn-right {
    position: relative;
    padding-bottom: 48px;
    
    .btn {
        position: absolute;
        bottom: 12px;
        right: 12px;
    }
}

.clear-both {
    clear: both;
}

video {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 16px;
}

.video-iframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-bottom: 24px;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.display-block {
    display: block;
}