body {
    background-color: $grey;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.site-header {
    background-color: $green;
    color: $white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    position: fixed;
}

.site-container {
    margin-top: 80px;
    padding: 0 10px;
}

.post {
    border-radius: 2px;
    padding: 35px 56px;
    margin-bottom: 80px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: $white;
}